### Java ###
/target/
# Exclude packaging artifacts
!/target/*.jar
!/target/*.war

# Maven wrapper files (uncomment if you use Maven wrapper)
# !.mvn/wrapper/maven-wrapper.jar
# !.mvn/wrapper/maven-wrapper.properties
# !.mvn/wrapper/MavenWrapperDownloader.java

### Angular ###
# Dependencies
/todo-app/node_modules/

# Compiled output
/todo-app/dist/
/todo-app/out-tsc/

# Logs
/todo-app/*.log

# Angular cache
/todo-app/.angular/cache/

# Temporary files
/todo-app/*.tmp
/todo-app/*.tmp.*
/todo-app/temp/

# Environment files
/todo-app/*.env
/todo-app/*.env.local

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
# Uncomment if you wish to ignore the idea folder for Angular as well
# /todo-app/.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Other files to ignore
*.class
*~
*.bak
*.swp
*.tmp